.Alert {
	padding: 20px;
    color: white;
}
.Alert p {
	margin: 0;
}
.Alert-error {
	background: lightcoral;
}
.Alert-success {
	background: lightgreen;
}
.Close {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

.Close:hover {
  color: black;
}