.Alert {
	color: white;
	border-radius: 10px;
	position: absolute;
	top: 50px;
	right: 10px;
	padding: 20px;
	display: flex;
	align-items: center;
	z-index: 1111;
}
.Alert p {
	margin: 0;
}
.Alert-error {
	background: lightcoral;
}
.Alert-success {
	background: lightgreen;
}
.Close {
	color: white;
	cursor: pointer;
	margin-right: 10px;
}