.left{
    float: left; 
    width: 10%;
    height: 200px;
    border: 1px solid black;
   }
   
   .internal{
    width: 31.75%;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
   }
   
   .center{
    float: left; 
    width: calc(80% - 2px);
    height: 200px;
    border: 1px solid black;
    margin: 1px;
    overflow: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
   }
   
   .right{
    float: right; 
    width: 10%;
    height: 200px;
    border: 1px solid black;
   }
.left-button{
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(127%);
}
.right-button{
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(127%);
}
.vertical-center {
    margin-top: 0;
    /* -ms-transform: translateY(-50%);
    transform: translateY(127%); */
  }


  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* padding: 16px; */
    text-align: center;
    background-color: #f1f1f1;
    height: 100%;
    cursor: pointer;
  }